<body>
    <header>
      <h1><span class="letraLogo">L</span>a caza del <span class="letraLogo">L</span>ibro</h1>
      <ng-container *ngIf="!userService.logueado">
        <a routerLink="/">Home</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/register">Register</a>
      </ng-container>
      <ng-container *ngIf="userService.logueado">
        <a routerLink="/">Home</a>
        <a routerLink="/books">Books</a>
        <a routerLink="/add">AddBook</a>
        <a routerLink="/update">UpdateBook</a>
        <a routerLink="/profile">Profile</a>
      </ng-container>
    </header>
  </body>
  
