<main>
  <div class="espaciador"></div>
  <form class="registro-form" (ngSubmit)="agregarLibro()">
    <h2 class="titleForm">Añade tus libros favoritos!</h2>

    <div class="registro-group">
      <input type="text" placeholder="Título" name="title" [(ngModel)]="title" required>
    </div>

    <div class="registro-group">
      <input type="text" placeholder="Tapa Blanda/Dura" name="type" [(ngModel)]="type" required>
    </div>

    <div class="registro-group">
      <input type="text" placeholder="Autor" name="author" [(ngModel)]="author" required>
    </div>

    <div class="registro-group">
      <input type="number" placeholder="Precio" name="price" [(ngModel)]="price" required>
    </div>

    <div class="registro-group">
      <input type="text" placeholder="Url Imagen" name="photo" [(ngModel)]="photo" required>
    </div>

    <div class="registro-group">
      <input type="number" placeholder="Ref del libro" name="id_book" [(ngModel)]="id_book" required>
    </div>

    <button type="submit">Agregar</button>
  </form>
</main>
