<main>
    <div class="espaciador"></div>
    <form class="registro-form">
        <h2>Añade tus libros!</h2>
    <div class="registro-group">
        <input type="text" placeholder="Titulo" id="titulo" name="titulo" required>
    </div>
    
    <div class="registro-group">
        <input type="text" placeholder="Tapa blanda/dura" id="tapa" name="tapa" required>
    </div>
    
    <div class="registro-group">
        <input type="text" placeholder="Autor" id="autor" name="autor" required>
    </div>
    
    <div class="registro-group">
        <input type="number" placeholder="Precio" id="precio" name="precio" required>
    </div>
    
    <div class="registro-group">
        <input type="text" placeholder="URL de la imagen" id="photo" name="photo" required>
    </div>

    <div class="registro-group">
        <input type="number" placeholder="Código del libro" id="id" name="id" required>
    </div>
    
    <input type="submit" value="Añadir">
    </form>
</main>